.login {
  max-width: 360px;
  height: min-content;
  border-radius: 12px;
}

.favourite-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  font-size: 30px;
}

.favourite-btn:hover {
  scale: 1.2;
}
